.carousel-item>img {
object-fit: cover; 
width: 100vw;
height: 100vh;

}


.col-2 {
  display: flex;
  justify-content: center;
  size: 27em;
  margin-top: 20vh;
}

.col-4>img {
  object-fit: contain
}